CREATE TABLE IF NOT EXISTS "AuditLog" ("id" TEXT NOT NULL, "action" TEXT NOT NULL, "actor" TEXT NOT NULL, "targetId" TEXT, "targetType" TEXT, "detail" TEXT, "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP, CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")); CREATE INDEX IF NOT EXISTS "AuditLog_action_createdAt_idx" ON "AuditLog"("action", "createdAt"); CREATE INDEX IF NOT EXISTS "AuditLog_actor_idx" ON "AuditLog"("actor");
